[Unit]
Description=USB Gadget Setup
After=systemd-modules-load.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/gadget-setup
RemainAfterExit=true

[Install]
WantedBy=sysinit.target
