[Unit]
Description=USB Gadget Setup
After=systemd-modules-load.service

[Service]
Type=oneshot
# Make sure you set the path you installed the script to here.
ExecStart=
RemainAfterExit=true

[Install]
WantedBy=sysinit.target
